<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:c="http://www.springframework.org/schema/c"
   xmlns:context="http://www.springframework.org/schema/context"
   xmlns:lang="http://www.springframework.org/schema/lang"
   xmlns:mvc="http://www.springframework.org/schema/mvc"
   xmlns:p="http://www.springframework.org/schema/p"
   xsi:schemaLocation="http://www.springframework.org/schema/beans
                  http://www.springframework.org/schema/beans/spring-beans.xsd
                  http://www.springframework.org/schema/context
                  http://www.springframework.org/schema/context/spring-context.xsd
                  http://www.springframework.org/schema/lang
                  http://www.springframework.org/schema/lang/spring-lang.xsd
                  http://www.springframework.org/schema/mvc
                  http://www.springframework.org/schema/mvc/spring-mvc.xsd">
                     
   <!-- 어노테이션 세팅 -->
   <!-- <context:annotation-config>는 어플리케이션 컨텍스트(즉 springBoard프로젝트를 뜻함) 이미 등록된 빈(spring bean)들의
       어노테이션(@로 된것들을 말함-> 여기서는 @Autowired) 사용가능하기 위해 사용한다.  
       또, context-component-scan이라고 아래에 쓸텐데 어플리케이션 컨텍스트에 빈을 등록하기 위한
       패키지들을 스캔한다. (이 프로젝트를 가동하기전에 미리 로딩한다.)
    -->
   <context:annotation-config/>
   
   <!-- Controller -->
   <!-- a.b.c.com.** -> *를 씀으로써 a.b.c.com 하위에 있는 모든 패키지들을 스캔한다. -->
   <context:component-scan base-package="com.ijw.**"></context:component-scan>
   
   <!-- 아래 bean은 Spring에서 Bean을 의미하며, XML 파일에 쓴다.
       class는 필수로 써어ㅑ하며, 정규화된 자바 클래스 이름?? 무시하고,
       그 다음에 쓰는 것을 import하는 것처럼 가져와서 사용하는 것을 뜻한다.
       즉, 우리는 가져올 사이트 주소만 쓰면 알아서 bean을 만들지 않아도 된다.
    -->
   <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"
        id="viewResolver">
        <!-- name="viewClass"는 말 그대로 이름 다음의 오는 value="org..."의 속성의 이름을 뜻한다. -->
      <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>
      <!-- value 뒤에 오는 속성 => 즉, 다음 폴더의 위치에 있는 -->
      <property name="prefix" value="/WEB-INF/view/"></property>
      <!-- value=".jsp" => 즉, .jsp로 된 모든 확장자들을 뜻한다. -->
      <property name="suffix" value=".jsp"></property>           
   </bean>
   
   <!-- import는 참조한다라는 뜻으로 resource(영어 뜻 그대로 자원)은 servlet-context.xml을 참조한다.-->
   <import resource="servlet-context.xml"/>
</beans>
