<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/task
						http://www.springframework.org/schema/task/spring-task-3.1.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- spring context 어노테이션 설정.  -->
	<context:annotation-config/>
	
	<!-- 패키지 component scan. -->
	<context:component-scan base-package="com.spw.**"/>
	
	<!-- 스케줄러 파일 componenet scan -->  
	<context:component-scan base-package="com.spw.bid.scheduler"/>
	<task:scheduler id="jobScheduler" pool-size="10" /> 
	<task:annotation-driven scheduler="jobScheduler" />
	
	<!-- 뷰리졸버. 클래스, 파일경로, 확장자. -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" id="viewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
		<property name="prefix" value="/WEB-INF/view/"/>
		<property name="suffix" value=".jsp"/>
	</bean>
		
	<!--  Mybatis 임포트. -->
	<import resource="servlet-context.xml"/>

</beans>
